<!DOCTYPE html>
<html>

<head>
    <title>Pet Shop | Accessory </title>
    <meta name="keywords" content="Pet dog, pet, how to raise a dog, buy a pet">
    <meta name="description" content="Buy and sell pet dogs">
    <meta http-equiv="refresh" content="3600">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/accessory.css" rel="stylesheet" />


    <link rel="stylesheet" media="mediatype and|not|only (expressions)" href="print.css">

    <link href="image/icon/icon-logo.png" rel="shortcut icon" />

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script src="javascript/style_javascript.js"></script>
</head>

<body>
    <!--  header -->
    <header>
        <div class="title">
            <div class="col30">
                <img src="image/icon/icon-logo.png" alt="WelovePets" />
            </div>
            <div class="col40">
                <div class="search">
                    <input type="search" placeholder="Search" />
                    <input type="image" value="timkiem" src="image/icon/search-icon.png" />
                </div>
            </div>
            <div class="col10 header-icon">
                <a id="Support" href="contact.html">
                    <img src="image/icon/hotro-icon.png" alt="Support">
                    <span>Support</span>
                </a>
            </div>
            <div class="col10 header-icon">
                <a href="#">
                    <img src="image/icon/giohang-icon.png" alt="cart">
                    <span>cart</span>
                </a>
            </div>
            <div class="col10 header-icon">
                <a href="login/login.html">
                    <img src="image/icon/dangnhap-icon.png" alt="login">
                    <span>login</span>
                </a>
            </div>
        </div>
    </header>
    <!--  nav -->
    <nav id="nav_menu">
        <ul class="menu">
            <li>
                <a href="index.html">
                    <img src="image/icon/home-icon.png" alt="Home">
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="dogbreed.html">
                    <img src="image/icon/giongcho-icon.png" alt="dog breed">
                    <span>Dog breed</span>

                </a>
                <ul class="sub-menu">
                    <li>
                        <ul class="menu-list">
                            <li> <a href="">Akita Inu</a></li>
                            <li><a href="">Alabai</a></li>
                            <li><a href="">Alaska</a></li>
                            <li><a href="">Alaska Giant</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li><a href="">Basset Hound</a></li>
                            <li><a href="">Vitespitz</a></li>
                            <li><a href="">Pekingese</a></li>
                            <li><a href="">Beagle</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">

                            <li><a href="">Becgie Belgium</a></li>
                            <li><a href="">Becgie Germany</a></li>
                            <li><a href="">Becgie Haland</a></li>
                            <li> <a href="">Becgie France</a> </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li><a href="">Bichon Frise</a></li>
                            <li><a href="">Border Collie</a></li>
                            <li><a href="">Boston</a></li>
                            <li><a href="">Bull France</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li><a href="">Bulldog</a></li>
                            <li><a href="">Bully American</a></li>
                            <li><a href="">Caucasian</a></li>
                            <li><a href="">Chihuahua</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li><a href="">Egyptian Dog</a></li>
                            <li><a href="">Butterfly dog</a></li>
                            <li><a href="">Dalmatian</a></li>
                            <li><a href="">Wolf-Blood Dog</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li><a href="">Japan Dog</a></li>
                            <li><a href="">Bull Terrier</a></li>
                            <li><a href="">Three-Colored Dog</a></li>
                            <li><a href="">Boxer Dog</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li><a href="">Thai Ridgeback Dog</a></li>
                            <li><a href="">Chow Chow</a></li>
                            <li><a href="">Great Dane</a></li>
                            <li><a href="">H'Mong Coc</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li><a href="">Husky</a></li>
                            <li><a href="">Labrador</a></li>
                            <li><a href="">Sausage</a></li>
                            <li><a href="">Tibetan Clams</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li><a href="">Deer Pug dog</a></li>
                            <li><a href="">Phoc squirrel dog</a></li>
                            <li><a href="">Phu Quoc dogs</a></li>
                            <li><a href="">Pitbull</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li><a href="">Poodle</a></li>
                            <li><a href="">Rottweiler</a></li>
                            <li><a href="">Pug</a></li>
                            <li><a href="">Samoyed</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li><a href="">Shiba Inu</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="puppy.html">
                    <img src="image/icon/cuncon-icon.png" alt="puppy">
                    <span>Puppy</span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <ul class="menu-list">
                            <li>
                                <a href="#">Ikita Inu</a>
                            </li>
                            <li>
                                <a href="#">Alaska</a>
                            </li>
                            <li>
                                <a href="#">Vitespitz</a>
                            </li>
                            <li>
                                <a href="#">Pekingese</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li>
                                <a href="#">Becgie Germany</a>
                            </li>
                            <li>
                                <a href="#">Border collie</a>
                            </li>
                            <li>
                                <a href="#">Bulldog</a>
                            </li>
                            <li>
                                <a href="#">Bully American</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li>
                                <a href="#">Chihuahua</a>
                            </li>
                            <li>
                                <a href="#">Dalmatian</a>
                            </li>
                            <li>
                                <a href="#">Japan Dog</a>
                            </li>
                            <li>
                                <a href="#">Chow Chow</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li>
                                <a href="#">Cocker Spaniel</a>
                            </li>
                            <li>
                                <a href="#">Corgi</a>
                            </li>
                            <li>
                                <a href="#">Dobermann</a>
                            </li>
                            <li>
                                <a href="#">Golden Retriever</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li>
                                <a href="#">Great Dane</a>
                            </li>
                            <li>
                                <a href="#">H'Mong Coc</a>
                            </li>
                            <li>
                                <a href="#">Husky</a>
                            </li>
                            <li>
                                <a href="#">Labrador</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li>
                                <a href="#">Sausage</a>
                            </li>
                            <li>
                                <a href="#">Malinois</a>
                            </li>
                            <li>
                                <a href="#">Tibetan Clams</a>
                            </li>
                            <li>
                                <a href="#">Deer Pug dog</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li>
                                <a href="#">Phoc squirrel dog</a>
                            </li>
                            <li>
                                <a href="#">Phu Quoc dogs</a>
                            </li>
                            <li>
                                <a href="#">Pitbull</a>
                            </li>
                            <li>
                                <a href="#">Poodle</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li>
                                <a href="#">Pug</a>
                            </li>
                            <li>
                                <a href="#">Rottweiler</a>
                            </li>
                            <li>
                                <a href="#">Samoyed</a>
                            </li>
                            <li>
                                <a href="#">Shiba Inu</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="accessory.html">
                    <img src="image/icon/phukien-icon.png" alt="accessory">
                    <span>Accessory</span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <ul class="menu-list">
                            <li><a href="#">Pet Supplies</a></li>
                            <li><a href="#">Pet Food</a></li>
                            <li><a href="#">Pet Cage</a></li>
                            <li><a href="#">Pet Toys</a></li>

                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li><a href="#">Accessory Beautify</a></li>
                            <li><a href="#">Pet Clothes</a></li>
                            <li><a href="#">Nutritional Food</a></li>
                            <li><a href="#">Medicines & Functional Products</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="raise.html">
                    <img src="image/icon/cachnuoi-icon.png" alt="how to raise">
                    <span>How to raise</span>
                </a>
            </li>
            <li>
                <a href="service.html">
                    <img src="image/icon/dichvu-icon.png" alt="service">
                    <span>Service</span>
                </a>
            </li>
            <li>
                <a href="introduce.html">
                    <img src="image/icon/gioithieu-icon.png" alt="Introduce">
                    <span>Introduce</span>
                </a>
            </li>
            <li>
                <a href="contact.html">
                    <img src="image/icon/lienhe-icon.png" alt="Contact">
                    <span>Contact</span>
                </a>
            </li>
        </ul>
    </nav>

    <!--section-->
    <section class="main">
        <section class="menu_main">

            <ul>
                <h1>LIST OF ACCESSORIES</h1>
                <li><a href="#">Pet Supplies</a></li>
                <li><a href="#">Pet Food</a></li>
                <li><a href="#">Pet Cage</a></li>
                <li><a href="#">Pet Toys</a></li>
                <li><a href="#">Beauty Accessories</a></li>
                <li><a href="#">Pet Clothes</a></li>
                <li><a href="#">Nutritional Food</a></li>
                <li><a href="#">Medicines & Functional Products</a></li>
            </ul>
        </section>
        <section class="info_main">
            <h1>PET ACCESSORIES</h1>
            <section class="info">
                <div class="info_product">
                    <img src="image/phukien/phukien-balotrongsuot.png" alt="hinh ảnh" />
                    <h6>Transparent Backpack For Dogs and Cats</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-coihuanluyen.png" alt="hinh ảnh" />
                    <h6>Training Whistle</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-thitcuuque.png" alt="hinh ảnh" />
                    <h6>Lamb Sticks</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-SmartHeart.png" alt="hinh ảnh" />
                    <h6>SmartHeart For Small Dogs</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-banhthuong.png" alt="hinh ảnh" />
                    <h6>Bonus Cake Tablets</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-royal_truongthanh.png" alt="hinh ảnh" />
                    <h6>Royal Canin For Adult Dogs</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-capno.png" alt="hinh ảnh" />
                    <h6>Pair of Bows</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-khanren.png" alt="hinh ảnh" />
                    <h6>Princess Lace Scarf</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-thuoccanxi.png" alt="hinh ảnh" />
                    <h6>Drugs of Calcium</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-aongucnochuong.png" alt="hinh ảnh" />
                    <h6>Bow Bow Bra</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-bongbongdochoi.png" alt="hinh ảnh" />
                    <h6>Balloon Toys</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-raoquaycho.png" alt="hinh ảnh" />
                    <h6>Dog Fence</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-dautamnuochoabloomsexy.png" alt="hinh ảnh" />
                    <h6>BLOOM SEXY Fragrance Bath Oil</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-dochoi.png" alt="hinh ảnh" />
                    <h6>Toys</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-dautamFay.png" alt="hinh ảnh" />
                    <h6>BLOOM SEXY Fragrance Bath Oil</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-sirochongchaynuocmat.png" alt="hinh ảnh" />
                    <h6>Anti-Tear Syrup</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-vongtriveran.png" alt="hinh ảnh" />
                    <h6>Lice Treatment Ring</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-xitveranHANTOC.png" alt="hinh ảnh" />
                    <h6>HANTOC Lice Spray</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-gelddNutri.png" alt="hinh ảnh" />
                    <h6>Nutri-Nutrition Gel</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-suabotchomeo.png" alt="hinh ảnh" />
                    <h6>Bio Milk Powder For Dogs and Cats</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-vitamintonghop.png" alt="hinh ảnh" />
                    <h6>Sleeky Multivitamin</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-canxinano.png" alt="hinh ảnh" />
                    <h6>Canxi Nano
                    </h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-tuivanchuyen.png" alt="hinh ảnh" />
                    <h6>Shipping Bag</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-dochoithucan.png" alt="hinh ảnh" />
                    <h6>Food Toys</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-ao_giaythat.png" alt="hinh ảnh" />
                    <h6>Coat + Strap</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-dianem.png" alt="hinh ảnh" />
                    <h6>Throwing dish</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-quacaugai.png" alt="hinh ảnh" />
                    <h6>Orb of Thorns</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-sungbanthucan.png" alt="hinh ảnh" />
                    <h6>Food Gun</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-banchaylong.png" alt="hinh ảnh" />
                    <h6>Feather Brush</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-dochoi_gatrong.png" alt="hinh ảnh" />
                    <h6>Rooster Toys</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-xuongda.png" alt="hinh ảnh" />
                    <h6>Skin Bones</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-Smartheart_truongthanh.png" alt="hinh ảnh" />
                    <h6>SmartHeart For Adult Dogs</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-roya_chonho.png" alt="hinh ảnh" />
                    <h6>Royal Canin For Small Dogs</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-phantamkhoFay.png" alt="hinh ảnh" />
                    <h6>FAY Dry Bath Powder</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
                <div class="info_product">
                    <img src="image/phukien/phukien-suatamoliver.png" alt="hinh ảnh" />
                    <h6>Oliver Shower Gel</h6>
                    <div>
                        <i class="fas fa-star star1"></i>
                        <i class="fas fa-star star2"></i>
                        <i class="fas fa-star star3 "></i>
                        <i class="fas fa-star star4"> </i>
                        <i class="fas fa-star star5"></i>
                    </div>
                    <p>100.000đ</p>
                    <div class="choose">
                        <a href="#" class="dathang">Order</a>
                        <a href="#" class="chitiet">Detail</a>
                    </div>
                </div>
            </section>

        </section>
    </section>
    <div class="back-to-top" id="backtop">
        <a href="">
            <img src="image/icon/icon-backtotop.png" alt="back to top" />
        </a>
    </div>

    <!--footer-->
    <footer>
        <div class="footer">
            <div class="col40 freeship">
                <div><img src="image/icon/icon-shipping.png" alt="shipping" /></div>
                <div>Free delivery in Ho Chi Minh City and Ca Mau City, Apply for orders from 500,000 VND or more</div>
            </div>

        </div>
        <div class="footer">
            <div class="col20 footer-info">
                <h6>About Us</h6>
                <ul>
                    <li><a href="#">introduce</a></li>
                    <li><a href="#">Branch</a></li>
                    <li><a href="#">Contact</a></li>
                    <li>
                        <a target="_blank" href="http://online.gov.vn/"><img src="image/icon/icon-bocongthuong.png" alt="bộ công thương"></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.dmca.com/Protection/Status.aspx?ID=1bf3f65e-4ac8-457e-8400-9d299263f727"><img src="image/icon/_dmca_premi_badge_7.png" alt="chứng nhận"></a>
                    </li>
                </ul>
            </div>
            <div class="col40 footer-support">
                <h6>Customer support</h6>
                <ul>
                    <li><a href="#">Shopping guide</a></li>
                    <li><a href="#">Terms and condition</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Payment policy</a></li>
                    <li><a href="#">Delivery policy</a></li>
                    <li><a href="#">Return Policy</a></li>
                    <li><a href="#">Instructions for sending and returning goods</a></li>
                    <li><a href="#">Warranty Policy</a></li>
                    <li><a href="#">Installment purchase</a></li>
                    <li><a href="#">Service quality</a></li>
                </ul>
            </div>
            <div class="col40 footer-contact">
                <h6>Contact</h6>
                <ul>
                    <li>Address: 180 Bui Van Ba, District 7, Ho Chi Minh City. </li>
                    <li>Address: 464 Cong Hoa, Tan Binh District, Ho Chi Minh City. </li>
                    <li>Address: 157/13 Luong The Vinh Street, Ward 1, Ca Mau City. </li>
                    <li>
                        Email: <a href="mailto:WelovePets.cuahangbanthucung@gmail.com">WelovePets.cuahangthucung@gmail.com</a>
                    </li>
                    <li>
                        Holine: <span class="mauholine">0812888858</span>
                    </li>
                    <li>
                        Website: <a href="http://127.0.0.1:5500/index.html">http://WelovePets.vn</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>