<!DOCTYPE html>
<html>

<head>
    <title>Pet Shop| Introduce</title>
    <meta name="keywords" content="Pet dog, pet, how to raise a dog, buy a pet">
    <meta name="description" content="Buy and sell pet dogs">
    <meta http-equiv="refresh" content="3600">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/introduce.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="image/icon/icon-logo.PNG" rel="shortcut icon" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="javascript/style_javascript.js"></script>
</head>

<body>
    <header>
        <div class="title">
            <div class="col30">
                <img src="image/icon/icon-logo.png" alt="WelovePets" />
            </div>
            <div class="col40">
                <div class="search">
                    <input type="search" placeholder="Search" />
                    <input type="image" value="timkiem" src="image/icon/search-icon.png" />
                </div>
            </div>
            <div class="col10 header-icon">
                <a id="Support" href="contact.html">
                    <img src="image/icon/hotro-icon.png" alt="Support">
                    <span>Support</span>
                </a>
            </div>
            <div class="col10 header-icon">
                <a href="#">
                    <img src="image/icon/giohang-icon.png" alt="cart">
                    <span>cart</span>
                </a>
            </div>
            <div class="col10 header-icon">
                <a href="login/login.html">
                    <img src="image/icon/dangnhap-icon.png" alt="login">
                    <span>login</span>
                </a>
            </div>
        </div>
    </header>
    <!--  nav -->
    <nav id="nav_menu">
        <ul class="menu">
            <li>
                <a href="index.html">
                    <img src="image/icon/home-icon.png" alt="Home">
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="dogbreed.html">
                    <img src="image/icon/giongcho-icon.png" alt="giong cho">
                    <span>Dog breed</span>

                </a>
                <ul class="sub-menu">
                    <li>
                        <ul class="menu-list">
                            <li> <a href="">Akita Inu</a></li>
                            <li><a href="">Alabai</a></li>
                            <li><a href="">Alaska</a></li>
                            <li><a href="">Alaska Giant</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li><a href="">Basset Hound</a></li>
                            <li><a href="">Vitespitz</a></li>
                            <li><a href="">Pekingese</a></li>
                            <li><a href="">Beagle</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">

                            <li><a href="">Becgie Belgium</a></li>
                            <li><a href="">Becgie Germany</a></li>
                            <li><a href="">Becgie Haland</a></li>
                            <li> <a href="">Becgie France</a> </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li><a href="">Bichon Frise</a></li>
                            <li><a href="">Border Collie</a></li>
                            <li><a href="">Boston</a></li>
                            <li><a href="">Bull France</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li><a href="">Bulldog</a></li>
                            <li><a href="">Bully American</a></li>
                            <li><a href="">Caucasian</a></li>
                            <li><a href="">Chihuahua</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li><a href="">Egyptian Dog</a></li>
                            <li><a href="">Butterfly dog</a></li>
                            <li><a href="">Dalmatian</a></li>
                            <li><a href="">Wolf-Blood Dog</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li><a href="">Japan Dog</a></li>
                            <li><a href="">Bull Terrier</a></li>
                            <li><a href="">Three-Colored Dog</a></li>
                            <li><a href="">Boxer Dog</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li><a href="">Thai Ridgeback Dog</a></li>
                            <li><a href="">Chow Chow</a></li>
                            <li><a href="">Great Dane</a></li>
                            <li><a href="">H'Mong Coc</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li><a href="">Husky</a></li>
                            <li><a href="">Labrador</a></li>
                            <li><a href="">Sausage</a></li>
                            <li><a href="">Tibetan Clams</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li><a href="">Deer Pug dog</a></li>
                            <li><a href="">Phoc squirrel dog</a></li>
                            <li><a href="">Phu Quoc dogs</a></li>
                            <li><a href="">Pitbull</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li><a href="">Poodle</a></li>
                            <li><a href="">Rottweiler</a></li>
                            <li><a href="">Pug</a></li>
                            <li><a href="">Samoyed</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li><a href="">Shiba Inu</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="puppy.html">
                    <img src="image/icon/cuncon-icon.png" alt="puppy">
                    <span>Puppy</span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <ul class="menu-list">
                            <li>
                                <a href="#">Ikita Inu</a>
                            </li>
                            <li>
                                <a href="#">Alaska</a>
                            </li>
                            <li>
                                <a href="#">Vitespitz</a>
                            </li>
                            <li>
                                <a href="#">Pekingese</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li>
                                <a href="#">Becgie Germany</a>
                            </li>
                            <li>
                                <a href="#">Border collie</a>
                            </li>
                            <li>
                                <a href="#">Bulldog</a>
                            </li>
                            <li>
                                <a href="#">Bully American</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li>
                                <a href="#">Chihuahua</a>
                            </li>
                            <li>
                                <a href="#">Dalmatian</a>
                            </li>
                            <li>
                                <a href="#">Japan Dog</a>
                            </li>
                            <li>
                                <a href="#">Chow Chow</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li>
                                <a href="#">Cocker Spaniel</a>
                            </li>
                            <li>
                                <a href="#">Corgi</a>
                            </li>
                            <li>
                                <a href="#">Dobermann</a>
                            </li>
                            <li>
                                <a href="#">Golden Retriever</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li>
                                <a href="#">Great Dane</a>
                            </li>
                            <li>
                                <a href="#">H'Mong Coc</a>
                            </li>
                            <li>
                                <a href="#">Husky</a>
                            </li>
                            <li>
                                <a href="#">Labrador</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li>
                                <a href="#">Sausage</a>
                            </li>
                            <li>
                                <a href="#">Malinois</a>
                            </li>
                            <li>
                                <a href="#">Tibetan Clams</a>
                            </li>
                            <li>
                                <a href="#">Deer Pug dog</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li>
                                <a href="#">Phoc squirrel dog</a>
                            </li>
                            <li>
                                <a href="#">Phu Quoc dogs</a>
                            </li>
                            <li>
                                <a href="#">Pitbull</a>
                            </li>
                            <li>
                                <a href="#">Poodle</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li>
                                <a href="#">Pug</a>
                            </li>
                            <li>
                                <a href="#">Rottweiler</a>
                            </li>
                            <li>
                                <a href="#">Samoyed</a>
                            </li>
                            <li>
                                <a href="#">Shiba Inu</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="accessory.html">
                    <img src="image/icon/phukien-icon.png" alt="accessory">
                    <span>Accessory</span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <ul class="menu-list">
                            <li><a href="#">Pet Supplies</a></li>
                            <li><a href="#">Pet Food</a></li>
                            <li><a href="#">Pet Cage</a></li>
                            <li><a href="#">Pet Toys</a></li>

                        </ul>
                    </li>
                    <li>
                        <ul class="menu-list">
                            <li><a href="#">Accessory Beautify</a></li>
                            <li><a href="#">Pet Clothes</a></li>
                            <li><a href="#">Nutritional Food</a></li>
                            <li><a href="#">Medicines & Functional Products</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="raise.html">
                    <img src="image/icon/cachnuoi-icon.png" alt="how to raise">
                    <span>How to raise</span>
                </a>
            </li>
            <li>
                <a href="service.html">
                    <img src="image/icon/dichvu-icon.png" alt="service">
                    <span>Service</span>
                </a>
            </li>
            <li>
                <a href="introduce.html">
                    <img src="image/icon/gioithieu-icon.png" alt="Introduce">
                    <span>Introduce</span>
                </a>
            </li>
            <li>
                <a href="contact.html">
                    <img src="image/icon/lienhe-icon.png" alt="Contact">
                    <span>Contact</span>
                </a>
            </li>
        </ul>
    </nav>

    <!--section-->

    <section class="main">
        <h1>Introduction</h1>
        <p>The economy is growing, people's lives are also upgraded and improved. Therefore, the demand for pets has also increased significantly. According to statistics, the pet industry will explode in many countries within 5 years
            next. Including Vietnam.</p>
        <p> Understanding this, <a href="#">WeLovePets.com</a> has been constantly trying to become the most prestigious pet trading brand in Vietnam. We are one of the pioneers in the application of modern technology
            the field of pet care & trading.</p>
        <h2>Activities</h2>
        <ul class="list">
            <li>
                <h3>Buy and sell pets</h3>
                <p>WeLovePets has a staff of experienced and professional pet breeders. Therefore, the animals born at the WeLovePets camp are always the best quality babies with beautiful appearance. When buying and selling animals
                    dear, you can go to the hatchery to check and choose with your own eyes.</p>
                <p>In addition, we are also developing a nationwide pet trading system. Divided into 2 operations: Buying pets & selling pets. WeLovePets' mission is to be an intermediary to ensure the quality of pets before delivery
                    to customers.</p>
            </li>
            <li>
                <h3>Buying a pet</h3>
                <p>We cooperate with many large and small dog farms and prestigious households across the country. If you have a pet for sale, please contact us. After that, WeLovePets staff will come to survey and negotiate directly if the pet is purchased
                    yours is of good quality.</p>
                <p>The requirements of <a href="#">WeLovePets.com</a> when cooperating to buy pets are:</p>
                <ul class="list-child">
                    <li>Your puppy must be fully vaccinated against diseases.</li>
                    <li>Good health, no birth defects.</li>
                    <li>The dog is agile, energetic, and has a well-balanced appearance.</li>
                </ul>
            </li>
            <li>
                <h3>Selling pets</h3>
                <p>When buying pets at WeLovePets, in addition to ensuring that the pets you choose are of good quality, we also have many preferential policies for customers such as:</p>
                <ul class="list-child">
                    <li>WeLovePets is committed to always offering the best and most reasonable prices for customers.</li>
                    <li>Provide photos, videos and real information about puppies for customers. Guaranteed to work with prestige and responsibility, taking customer satisfaction as a goal to strive for.</li>
                    <li>Currently, <a href="#">WeLovePets.com</a> owns all pet lines available on the Vietnamese market. So just leave your order information, we will contact and meet your needs.</li>
                    <li>Your puppy will be fully vaccinated against diseases, guaranteed health, good breed quality.</li>
                </ul>
            </li>
            <li>
                <h3>Pet care</h3>
                <p>When do you need to use Petshop's pet care service? That's when you:</p>
                <ul class="list-child">
                    <li>Going away for work, traveling far away, unable to take care of her pet for a long period of time. At this time, you absolutely must not leave the puppy, but bring them to our WeLovePets.</li>
                    <li>You want to find an ideal entertainment environment for your pet.</li>
                    <li>You don't know how to take care of a newborn pet. Or due to many other reasons such as: Loss of mother, not enough milk…</li>
                </ul>
                <p>WeLovePets' pet care service will ensure to meet all of the above problems of customers. We have an ideal and scientific living environment for pets. Here, they will undergo a thorough care process
                    biblical, scientific. Including: Personal hygiene, feeding, exercise, training…</p>
                <p>For newborn puppies, WeLovePets has 2 scientific raising methods: Set feeding (breeding newborn puppies completely without using breast milk) or grafting. Your puppy will be cared for, fed, and fully vaccinated. After 2 months, we
                    The pet will be returned to you and a service fee will be collected.</p>
            </li>
            <li>
                <h3>Imported dog</h3>
                <p>Foreign dogs are always the first choice of customers when coming to WeLovePets. Why is that? Because imported dogs possess many outstanding advantages compared to ordinary ornamental dogs in terms of appearance, health, breed quality,
                    and personality..</p>
                <p>The source of Petshop's foreign dogs comes from countries with a developed pet industry such as: Thailand, UK, France, USA, .. and many other countries in Europe and America. When buying, customers can choose the source of imported pets. Then they
                    I will respond and provide information, quotation for you.</p>
                <p>
                    Are you worried about the quality of imported dogs? WeLovePets would like to assure you that, before being delivered to customers, foreign dogs have gone through extremely strict and strict quarantine stages. First is the quarantine of the camp
                    foreign dog. Then there is the exit quarantine, the entry quarantine. And finally the WeLovePets quarantine.
                </p>
                <p>
                    Therefore, we are confident & committed to our customers about the quality and purity of the puppies you choose at Petshop.
                </p>
            </li>
            <li>
                <h3>Selling pet accessories</h3>
                <p>The world of pet accessories by <a href="">WeLovePets.com</a> is like a paradise that provides all the items you want to equip your pet. From clothes, living utensils to toys, shower gel... Want to find any
                    any kind of accessories, you just need to look on our website and press the order button. Or contact us for the fastest advice.</p>
            </li>
        </ul>
        <h2>Our Activities</h2>
        <ul class="list">
            <div>
                <h3><i class="fab fa-facebook-square"></i> Facebook</h3>
                <p>On Petshop's Facebook page, we post useful pictures, videos and information about: How to raise a dog, how to choose a dog, dog price... In order to help customers gain more knowledge in the field of pets. Facebook Fanpage is also our place
                    Communicate and connect with your customers. All reviews and comments of customers will be recorded by Petshop.</p>
                <p>In addition, there are any changes in the service policy, we will also notify on Facebook for customers to know. So follow our Facebook Fanpage to update the latest information immediately!</p>
               

            
            <li>
                <h3><i class="fab fa-youtube"></i> You tube</h3>
                <p>Youtube is the place to post videos of pet breeds that we filmed at the camp. These videos ensure the following elements: Honesty, providing full information to customers, giving advice on buying and selling pets for customers.</p>
                <script src="https://apis.google.com/js/platform.js"></script>

            </li>
            <li>
                <h3>Website</h3>
                <p>Official portal website:<a href="#">WeLovePets.com</a> is the main means of buying and selling activities & exchanging information with customers. Here, we will provide complete and detailed information about pets. Consists of:
                    How to care, how to train, purebred characteristics, personality characteristics of pets…</p>
                <p>At the same time, new pets will be updated on the website every day. Attached with full price information for customers to choose.</p>
            </li>
        </ul>
        <h2><img src="image/icon/check-icon.png" alt="check icon" /> Customer benefits</h2>
        <ol class="list-child">
            <li>Purchase Contract – Protecting the interests of customers.</li>
            <li>Attach a Microchip that certifies the legal pet owner.</li>
            <li>Training and caring for pets for life.</li>
            <li>Support for medical examination at home (Hanoi – HCMC).</li>
            <li>First 3 days comprehensive warranty.</li>
            <li>30 days warranty for vaccinated diseases.</li>
            <li>Free shipping nationwide, support air freight.</li>
            <li>10% off pet accessories at WeLovePets.</li>
            <li>5% off when you buy 2 or more babies.</li>
        </ol>
        <h2><img src="image/icon/check-icon.png" alt="check icon" /> Contact for cooperation</h2>
        <p>Please send us full information to email: <a href="mailto:petshop.cuahangthucung@gmail.com">petshop.cuahangthucung@gmail.com</a> If you have long-term cooperation needs. After that, we will come up with policies to ensure the rights between
            2 sides. “Long-term cooperation – Growing together”.</p>
         <h3 class="thank">Pet shop thank you for your interest!</h3>
    </section>
    <div class="back-to-top" id="backtop">
        <a href="">
            <img src="image/icon/icon-backtotop.png" alt="back to top" />
        </a>
    </div>

    <!--footer-->
    <footer>
        <div class="footer">
            <div class="col40 freeship">
                <div><img src="image/icon/icon-shipping.png" alt="shipping" /></div>
                <div>Free delivery in Ho Chi Minh City and Ca Mau City, Apply for orders from 500,000 VND or more</div>
            </div>

        </div>
        <div class="footer">
            <div class="col20 footer-info">
                <h6>About Us</h6>
                <ul>
                    <li><a href="#">introduce</a></li>
                    <li><a href="#">Branch</a></li>
                    <li><a href="#">Contact</a></li>
                    <li>
                        <a target="_blank" href="http://online.gov.vn/"><img src="image/icon/icon-bocongthuong.png" alt="bộ công thương"></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.dmca.com/Protection/Status.aspx?ID=1bf3f65e-4ac8-457e-8400-9d299263f727"><img src="image/icon/_dmca_premi_badge_7.png" alt="chứng nhận"></a>
                    </li>
                </ul>
            </div>
            <div class="col40 footer-support">
                <h6>Customer support</h6>
                <ul>
                    <li><a href="#">Shopping guide</a></li>
                    <li><a href="#">Terms and condition</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Payment policy</a></li>
                    <li><a href="#">Delivery policy</a></li>
                    <li><a href="#">Return Policy</a></li>
                    <li><a href="#">Instructions for sending and returning goods</a></li>
                    <li><a href="#">Warranty Policy</a></li>
                    <li><a href="#">Installment purchase</a></li>
                    <li><a href="#">Service quality</a></li>
                </ul>
            </div>
            <div class="col40 footer-contact">
                <h6>Contact</h6>
                <ul>
                    <li>Address: 180 Bui Van Ba, District 7, Ho Chi Minh City. </li>
                    <li>Address: 464 Cong Hoa, Tan Binh District, Ho Chi Minh City. </li>
                    <li>Address: 157/13 Luong The Vinh Street, Ward 1, Ca Mau City. </li>
                    <li>
                        Email: <a href="mailto:WelovePets.cuahangbanthucung@gmail.com">WelovePets.cuahangthucung@gmail.com</a>
                    </li>
                    <li>
                        Holine: <span class="mauholine">0812888858</span>
                    </li>
                    <li>
                        Website: <a href="http://127.0.0.1:5500/index.html">http://WelovePets.vn</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>