<!DOCTYPE html>
<html>

<head>
    <title>Pet Shop | Cửa Hàng Bán Thú Cưng </title>
    <meta name="keywords" content="Chó cảnh, pet, cách nuôi chó, mua thú cưng">
    <meta name="description" content="Mua bán chó cảnh">
    <meta http-equiv="refresh" content="3600">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/index-style.css" rel="stylesheet" />

    <link rel="stylesheet" media="mediatype and|not|only (expressions)" href="print.css">

    <link href="image/icon/icon-logo.png" rel="shortcut icon" />

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script src="javascript/style_javascript.js"></script>
</head>

<body>
    <!--  header -->
    <header>
        <div class="tieude">
            <div class="col30">
                <img src="image/icon/icon-logo.png" alt="WelovePets" />
            </div>
            <div class="col40">
                <div class="search">
                    <input type="search" placeholder="Bạn tìm gì..." />
                    <input type="image" value="timkiem" src="image/icon/search-icon.png" />
                </div>
            </div>
            <div class="col10 header-icon">
                <a id="hotro" href="lienhe.html">
                    <img src="image/icon/hotro-icon.png" alt="hỗ trợ">
                    <span>Hỗ trợ</span>
                </a>
            </div>
            <div class="col10 header-icon">
                <a href="#">
                    <img src="image/icon/giohang-icon.png" alt="Giỏ hàng">
                    <span>Giỏ hàng</span>
                </a>
            </div>
            <div class="col10 header-icon">
                <a href="login/login.html">
                    <img src="image/icon/dangnhap-icon.png" alt="đăng nhập">
                    <span>Đăng nhập</span>
                </a>
            </div>
        </div>
    </header>
<!----Product--------->
<sec class="product">
    <div class="product">
        <div class="product-top">
            <div class="p">Alaska Mũm Mĩm Tìm Người Yêu Thương Chăm Sóc Ạ</div>
        </div>
        <div class="product-content">
            <div class="product-content-left">
                <div class="product-content-left-big-img">
                    <img src="image/cuncon/cuncon-alaskamummim.jpg" alt="">

                </div>
                <div class="product-content-left-small-img">
                    
                </div>
            </div>
            <div class="product-content-right">

            </div>
        </div> 

    </div>

</sec>







<!----------footer-->
    <footer>
    <div class="footer">
        <div class="col40 freeship">
                <div><img src="image/icon/icon-shipping.png" alt="shipping" /></div>
                <div>Giao hàng miễn phí tại TP.HCM và TP Cà Mau, Áp dụng cho đơn hàng từ 500.000đ trở lên</div>
            </div>

        </div>
        <div class="footer">
            <div class="col20 footer-info">
                <h6>Về chúng tôi</h6>
                <ul>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Chi nhánh</a></li>
                    <li><a href="#">Liên hệ</a></li>
                    <li>
                        <a target="_blank" href="http://online.gov.vn/"><img src="image/icon/icon-bocongthuong.png" alt="bộ công thương"></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.dmca.com/Protection/Status.aspx?ID=1bf3f65e-4ac8-457e-8400-9d299263f727"><img src="image/icon/_dmca_premi_badge_7.png" alt="chứng nhận"></a>
                    </li>
                </ul>
            </div>
            <div class="col40 footer-support">
                <h6>Hỗ trợ khách hàng</h6>
                <ul>
                    <li><a href="#">Hướng dẫn mua hàng</a></li>
                    <li><a href="#">Điều khoản và điều kiện</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Chính sách thanh toán</a></li>
                    <li><a href="#">Chính sách giao hàng</a></li>
                    <li><a href="#">Chính sách đổi trả</a></li>
                    <li><a href="#">Hướng dẫn gửi trả hàng</a></li>
                    <li><a href="#">Chính sách bảo hành</a></li>
                    <li><a href="#">Mua trả góp</a></li>
                    <li><a href="#">Chất lượng dịch vụ</a></li>
                </ul>
            </div>
            <div class="col40 footer-contact">
                <h6>Thông tin liên hệ</h6>
                <ul>
                    <li>Địa chỉ: 180 Bùi Văn Ba, Quận 7, Tp.Hồ Chí Minh. </li>
                    <li>Địa chỉ: 464 Cộng Hoà, quận Tân Bình, Thành phố Hồ Chí Minh. </li>
                    <li>Địa chỉ: 157/13 Đường Lương Thế Vinh, Phường 1, Thành phố Cà Mau. </li>
                    <li>
                        Email: <a href="mailto:WelovePets.cuahangbanthucung@gmail.com">WelovePets.cuahangthucung@gmail.com</a>
                    </li>
                    <li>
                        Holine: <span class="mauholine">0812888858</span>
                    </li>
                    <li>
                        Website: <a href="http://127.0.0.1:5500/index.html">http://WelovePets.vn</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>