@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //ViewData["cssIndex"] = "~/css/raise.css";
}
<link href="~/css/raise.css" rel="stylesheet" />
<!--section-->
    <section class="main">
        <h1>How to raise a basic puppy</h1>
        <ol class="list-way">
            <li>
                <h2>What are the characteristics of puppies? Need to understand before raising</h2>
                <div>
                    <p>I always say that newborn puppies are no different from babies. They are weak, red and look very pitiful. If this stage is not well taken care of, she will get sick and die at any time. At least you need to keep her alive and healthy
                        strong before. Then think about training your child to be good or not. Then the minimum thing is to know how to take care of her baby when she was born</p>
                    <p>The first months. Specifically, dogs under 4 months of age you need a meticulous and careful care regimen. At this stage, I have already started to itch. So you need to help your dog in a few ways. Don't let these plastic or iron, in general
                        is easy to break near me. It will gnaw on all of that and then swallow it. You will never know</p>
                    <p>My digestive system is still immature. Hard objects like that can cause the baby to have a perforated intestine or a lot of poor digestion. At this point, you can just throw him a tube bone. She has both a tooth grinder and a toy
                        safe anymore.</p>
                    <div class="image-dog">
                        <img src="image/anhhotro/hinh-nen-nhung-chu-cun-cho-may-tinh-20.jpg" alt="hình ảnh chó con" />
                    </div>
                    <p>By the time the puppy is 5 months old, he has already entered the adult stage. Now is the right time to teach her to be obedient! When she reaches adulthood, her nutrition is also important
                        Pay more attention to let her grow up healthy.</p>
                </div>
            </li>
            <li>
                <h2>Techniques for raising healthy puppies - mischievous</h2>
                <div>
                    <p>At each age, you need a different way of taking care of your puppy. But in general, every stage needs to be meticulous and careful. Not only being careful and meticulous, you need to equip your child with knowledge about nutrition and how to prevent and treat diseases.</p>
                    <p>Always remember that taking care of a puppy is like taking care of a newborn baby. Need to be extremely gentle and delicate. Pay attention to her every day to discover her strange actions. So you can easily control the risks
                        more dangerous for me.</p>
                    <p>A little older, she already has consciousness. Now let's start giving him some simple recognition exercises. Of course, her nutrition also needs special attention. Don't think it can be omnivorous. Choose their food carefully
                        the more. Because my digestion is not good enough to measure anyway.</p>
                    <p>Having an active and lively capital so there are many unexpected things that happen in the process of playing. So take care of your dog to avoid unfortunate consequences!</p>
                    <h3>Prepare a living environment for newborn puppies</h3>
                    <p>The environment outside with a newborn puppy is extremely harsh. No longer protected, no longer self-sufficient, the temperature, the humidity, the air was too different. Overall, she struggles a lot to stay alive.</p>
                    <p>The temperature of the puppies in the womb is already low, when out in the environment, it is even lower. Therefore, during the first 15 days, attention should be paid to keeping him warm with straw and old clothes. If she can fix her temperature at 34.5 to 36 degrees, she won't die
                        cold again.</p>
                    <div class="image-dog">
                        <img src="image/anhhotro/anh-chuan-bi-moi-truong-nuoi.jpg" alt="hình ảnh chó con" />
                    </div>
                    <p>As far as I know, the first week the dog is very cold to death. So be careful to keep her warm so she can survive!</p>
                    <p>In addition to the straw, old clothes, you need to light more lamps to warm him. In the first week, 40W lights should be used near the drive. You should pay attention to observe the puppy's actions. If it is cold, they will gather together to keep warm.</p>
                    <p>And when the temperature is warm, they spread out on their own to find a good place to sleep in the nest. But also need to pay attention if it's too hot, it will be uncomfortable and secret! So don't forget to pay attention to her every move!</p>
                    <h3>Stages of puppy development</h3>
                    <p>Just like a new born baby, he is very weak and needs to be warmed and filled with milk. For the first 2 days, he just wrapped his mother's milk and slept and then suckled. At this stage everything is not fully developed. The movements of
                        I mean only in pedaling, shaking your head or stretching.</p>
                    <p>Like many other mothers, the mother dog always keeps her pups clean at this stage. When she herself can keep her body clean and clean the stains, the mother dog will stop. Puppies are not able to self-conscious about going to the toilet at this time
                        his birth. So the mother dog will lick her baby's genitals to stimulate her.</p>
                    <p>When the puppy is at the 3-7 month stage, it is time to change the care regimen. At this point you need to pay attention to the puppy a little to observe the difference. From there to guess whether her health condition is okay or not?</p>
                    <div class="image-dog">
                        <img src="image/anhhotro/cho-me-va-con.jpg" alt="hình ảnh chó con" />
                    </div>
                    <h4>Technology for raising newborn puppies</h4>
                    <p>Usually 9 to 13 days after birth, puppies begin to open their eyes. It can't be heard until 13 to 17 days after birth.</p>
                    <p>In general, after 14 days, she can hear and see normally. It can also be delayed by a few days depending on the dog's body. This is also when her baby teeth start to erupt. You give him solid food at this stage.
                        Its food is milk and thin porridge. Sometimes she also practices walking to get used to it. After that, you can go to the toilet on your own without needing the mother dog anymore.</p>
                    <p>Slowly my vision became clearer. About 5 weeks old can be called sperm already. She is also able to stand on all fours and walk more confidently. However, sometimes you will still fall because you are not used to it. Like a hyperactive child, I
                        Will take anything. Just buy him a soft ball to suck on and play with.</p>
                    <p>When she is 6 weeks old, she already knows how to express her emotions with her face and ears! It means that she has grown up and can control her emotions. You need to separate for her to eat on her own. It's no longer milk or porridge, now the rice is mushy
                        should be used for her. In addition, sometimes you give her a snack with ready-made food. At this stage, the mother dog will no longer be too meticulous with feeding her baby. Because her baby teeth are stronger and sharper. You need to pay attention
                        When the dog's body is healthy, let's give him the first vaccination!</p>
                    <p>In general, after 6 weeks and 19 weeks, her teeth are as complete as an adult dog. After the first injection at 6 weeks, the second dose will be given at 10 weeks. Almost all puppies have been weaned at this time. If you talk a lot,
                        take care of her, she's quite attached!</p>
                    <div class="image-dog">
                        <img src="image/anhhotro/cho-con-uong-sua.jpg" alt="hình ảnh chó con" />
                    </div>
                    <h4>Puppies are 3-15 months old</h4>
                    <p>When dogs are teething, they begin to bite everything because of itchy gums. By this time, the dog is usually 12 weeks to 15 months old. You can prepare some soft toys for her to indulge her passion. At the same time you need to teach
                        I mean don't bite or chew on people's hands. Gradually she will understand that it is never possible.</p>
                    <p>By the time she turns 6 months old to 18 months old, she has almost learned to be independent. It knows how to mark its territory so that others cannot trespass. This phase is quite painful! You need to help them determine the order of
                        herd so as not to fight. At the same time, teach them the right place to go to the toilet. If you are not patient, you will be helpless to watch dogs fight and not be able to stop.</p>
                    <p>Don't be soft-hearted or pity them too much. Knowing how to be firm and gentle in the right place will make you less tired later on.</p>
                    <p>After 18 months, this can be considered an adult dog. At this time, each child will have a unique personality. Even so, if you work hard, you can still change her personality. As long as it's fixed before the age of 3, it's
                        Okay.
                    </p>
                </div>
            </li>
            <li>
                <h2>Instructions to properly care for puppies</h2>
                <div>
                    <h3>Puppy food</h3>
                    <p>Like new born babies, the puppy's body cannot have as strong resistance as the mother dog. Therefore, they need a lot of nutrients from breast milk to stay healthy. The mother's milk will be better than any milk outside.</p>
                    <p>In milk, there are vitamins and amino acids that are most suitable for puppies. The puppy's immune system will actively absorb and be healthy. So for the first 4 days, the puppy only clings to the mother's breast. To avoid infection, you should clean your head
                        Please keep me clean.</p>
                    <p>After 4 days, you can sometimes put in some warm milk for her. At this time, the puppy cannot drink on its own. So please use a syringe to pump me! On the 10th day, you put the milk on a plate.</p>
                    <p>Puppies can practice licking themselves. Or if there is a condition, let her practice peace. But you can't give up breast milk because you give your dog warm milk! Breast milk is still essential. Warm milk only needs about 100 to 200ml per day.</p>
                    <p>Regularly check your dog's condition! From their vomiting to their droppings. If abnormal, take it to a doctor immediately.</p>
                    <div class="image-dog">
                        <img src="image/anhhotro/3-chu-cho.jpg" alt="hình ảnh chó con" />
                    </div>
                    <h3>Nutrition for puppies from 1 month old</h3>
                    <p>By the time the dog is 1 month old, you can give porridge to eat diluted porridge. At this time, her digestion is adapted to such liquid foods.</p>
                    <p>Occasionally cook bone porridge or minced meat porridge for her to eat healthy. Practice little by little 1. Every day 1-2 small bowls then increase. The dog is still nursing at this time.</p>
                    <p>So you can use formula milk and some snacks the puppy likes to let her go. Since it's impossible to guarantee whether your dog is getting enough nutrition, it's best to weigh them regularly. If you lose weight, you need to supplement with nutrition
                        give it to me.</p>
                    <p>When the dog is 2-3 months old, the digestive system is generally healthier. At this time, in addition to normal food, sometimes you give it fish, eggs, and vegetables to get enough nutrients. At the same time, let her not be picky eaters.</p>
                    <p>Still keeping the right amount of food available, but not giving her a lot of food. Foods that are too greasy or salty, raw fish should not be given to her. Pig liver or lung, in general, the internal organs should also be removed! Those are all things that contain
                        a lot of poison.</p>
                    <p>When the morning dog is 4 months old, you start to divide the meal of the day. Previously it was 2-3 meals, holy time 4-6 meals. Even though they are older and healthier, the food still needs to be cooked and cooked. Because if not, she will often go out.</p>
                    <div class="image-dog">
                        <img src="image/anhhotro/anh-chu-cun.jpg" alt="hình ảnh chó con" />
                    </div>
                    <h3>Nutrition for puppies from 6 months old</h3>
                    <p>By 6 months of age, the dog has generally begun to mature. The amount of food you adjust to increase gradually. The number of meals is also gradually reduced. Just 2-3 meals a day. But don't be too greedy to feed him too much at once!</p>
                    <p>Food is stale, mold has no digestive system to adapt. Of course, puppies are no exception. In addition, the food of other animals or human excrement cannot be used. They are easy to get sick or go out a lot.</p>
                    <p>At this stage, dogs are very fond of biting. Whatever it is, eat and bite it. So you need to keep an eye on it often so that he doesn't eat plastic! Because it can perforate the intestines, causing severe gastrointestinal inflammation. It's best to throw things away
                        Use it far away from its play place. You can give her a fake bone to chew on.</p>
                    <p>Food you can come to the meal to remove the plate of food. But drinking water is always needed. After drinking water, the dog will urinate. The amount of urine depends on the amount of water given. Please take her to the restroom so she can get used to it!</p>
                </div>
            </li>
            <li>
                <h2>How to make a puppy grow up fast?</h2>
                <div>
                    <p>At the time of suckling, the puppies can be very healthy, but after weaning, many babies become sick. Even dead! So now you need to pay more attention to her. From daily habits to proper nutrition.</p>
                    <p>When feeding, train her to eat at the right time and at the right time. At the same time, you need to increase the amount of protein-rich foods. Thus, the puppy will have a good immune system and resistance.</p>
                    <p>When you see a puppy refusing to eat, you need to pay special attention. Because maybe they are having big health problems! The food for him needs to be right and suitable. If he chooses wrong, he can't digest his appetite and loses weight. Sometimes eating wrong
                        After a while, she went out. At this point, please bring me to the doctor. </p>
                    <div class="image-dog">
                        <img src="image/anhhotro/chu-cun-den-bac-sy.jpg" alt="hình ảnh chó con" />
                    </div>
                    <h3>Prevention for dogs</h3>
                    <p>After about 6 weeks, you can give her a vaccination. But it should not be more than 9 weeks old! The vaccine will be based on what danger you live in so you can give it to her.</p>
                    <p>When you go for the first vaccination, you should always deworm her! In addition to making her healthier, it also helps you avoid many risks!</p>
                    <p>After 4-5 weeks of getting the first dose, you should get another dose of rabies vaccine</p>
                    <p>After the first visit, you will need to bring your dog back to the clinic for rabies vaccination when he or she is born. These vaccinations need to be done before 16 weeks to ensure the most effective.</p>
                    <p>The dog's nest also needs regular cleaning. Keep the dog's place clean and dry to keep him healthy.</p>
                    <p>If you have free time, take her for a walk around the garden. Also teach her how to perceive the world around her. Teach her as soon as possible. Take a short walk a few times a day and she will learn a lot of good things
                        that's it!</p>
                    <p>Why do I suggest that you take her for walks more. because at 7 to 16 weeks old is a good time to teach and for him to make new friends. If I miss it, it will be very difficult to correct me later. And you need to make sure your friends
                        This puppy is also fully vaccinated!</p>
                    <div class="image-dog">
                        <img src="image/anhhotro/anh-cun-1.jpg" alt="hình ảnh chó con" />
                    </div>
                    <h3>Bathing technique for puppies</h3>
                    <p>Although I know that a dog with a clean, fragrant coat will be more interested than a dirty, smelly dog. But don't be too lazy to make them bathe too soon! Under 6 weeks of age, the bathing work should be given to the mother dog. We just need to take care of them
                        Adequate food is fine. Because if she is bathed too early, she is very likely to catch a cold. However, his body is still weak right now. When your dog is 10 or 12 weeks old, start giving her a bath.</p>
                    <p>Every dog ​​does not naturally love bathing. You need to introduce him to the dry bath or bath first. After getting used to it, I started to expose her to bath water. When everything is so natural, baby
                        If she's not afraid anymore, she can take a bath.</p>
                    <p>The dog's coat and skin are also of different types. So you need to carefully consider the right shower gel for your baby. Choosing a shower gel that is too detergent will make her skin dry, creating an opportunity for bacteria and parasites to grow. Friend
                        Should choose a gentle shower gel to both clean and care for her skin and hair.</p>
                    <p>You need to prepare 1 towel, some toys before bathing her. Drop the toys into the basin to keep her happy, not disturbed when you take a bath. After bathing her baby, cover her with a towel and then use a hair dryer to dry her hair.
                        Dry at a warm enough temperature until the hair is completely dry.</p>
                </div>
            </li>
            <li>
                <h2>Conclusion</h2>
                 <div>
                     <p>
                         So I finished the tutorial on how to raise a puppy! This work takes a lot of time and effort. So make sure you have both of these with boundless dog love! Otherwise infinitely many. Otherwise, your dogs will be very
                         that's pathetic!</p>
                </div>
            </li>
        </ol>
    </section>
    <div class="back-to-top" id="backtop">
        <a href="">
            <img src="image/icon/icon-backtotop.png" alt="back to top" />
        </a>
    </div>