@{
    //ViewData["cssIndex"] = "~/css/contact.css";
}
<link href="~/css/contact.css" rel="stylesheet" />
<section class="main">
        <h1>Contact</h1>
        <h4>For more information, you can contact us</h4>
        <ul>
            <li><img src="image/icon/zalo-icon-lienhe.png" alt="zalo" /><span class="indam"> Zalo:</span> 0812888858</li>
            <li><img src="image/icon/phone-lienhe-icon.png" alt="điện thoại" /><span class="indam"> Hotline:</span> 0812888858</li>
            <li><img src="image/icon/mail-icon-lienhe.png" alt="Email" /><span class="indam"> Email:</span> <a href="mailto:petshop.cuahangthucung@gmail.com">petshop.cuahangthucung@gmail.com</a></li>
            <li>
                <img src="image/icon/map-icon.png" alt="Địa chỉ" /> <span class="indam"> Địa chỉ:</span><a href=""> WeLovePets.com</a>
                <ul>
                    <li><span class="indam">Factory 1:</span> 180 Bui Van Ba, District 7, Ho Chi Minh City.</li>
                     <li><span class="indam">Factory 2:</span> 464 Cong Hoa, Tan Binh District, Ho Chi Minh City.</li>
                     <li><span class="indam">Factory 3:</span> 157/13 Luong The Vinh Street, Ward 1, Ca Mau City.</li>
                 </ul>
            </li>
            <li>
                <div>
                    <span class="indam"><i class="fas fa-map-marker-alt"></i> Google maps base 1: </span>180 Bui Van Ba, District 7, Ho Chi Minh City .
                </div>
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.794660531895!2d106.73204461439417!3d10.750302962615946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752584b93d9077%3A0xc8a19a5b7c917b2a!2zMTgwIELDuWkgVsSDbiBCYSwgVMOibiBUaHXhuq1uIMSQw7RuZywgUXXhuq1uIDcsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1656066124024!5m2!1svi!2s" 
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </li>
            <li>

                <div>
                    <span class="indam"><i class="fas fa-map-marker-alt"></i> Google maps campus 2: </span>464 Cong Hoa, Ward 13, Tan Binh District, City Ho Chi Minh.
                </div>
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1959.5569599550765!2d106.64098780078498!3d10.802586135670262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175294fee27c9cb%3A0x3c398464777e8e96!2zNDY0IMSQLiBD4buZbmcgSMOyYSwgUGjGsOG7nW5nIDEzLCBUw6JuIELDrG5oLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1656066397478!5m2!1svi!2s"
                     width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </li>
            <li>
                <div>
                    <span class="indam"><i class="fas fa-map-marker-alt"></i> Google maps base 3: </span>157/13 Luong The Vinh Street, Ward 1, City Ca Mau.
                </div>
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3938.58136835011!2d105.12802221438531!3d9.192181188943776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a149896bdfb695%3A0x37d8ba280e989cf3!2zMTU3LCAxMyDEkC4gTMawxqFuZyBUaOG6vyBWaW5oLCBQaMaw4budbmcgMSwgVGjDoG5oIHBo4buRIEPDoCBNYXUsIEPDoCBNYXUsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1656066599168!5m2!1svi!2s"
                     width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </li>
        </ul>
    </section>
    <div class="back-to-top" id="backtop">
        <a href="">
            <img src="image/icon/icon-backtotop.png" alt="back to top" />
        </a>
    </div>