        @import "style.css";

        /*HEADER*/

header {
    background-image: url(/image/icon/background-header.jpg);
}

.title {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.col30 img {
    width: 70%;
    height: 100%;
}

.title>.col40 {
    padding-top: 6%;
}

.title>.col10 {
    padding-top: 6%;
}

.title>.col40>.search {
    height: 100%;
    width: 100%;
    display: flex;
}

.search input {
    height: 60%;
    display: block;
    padding: 10px;
    border: 2px solid #57c8ea;
}

input[type="search"] {
    width: 90%;
    border-radius: 5px 0 0 5px;
}

input[type="image"] {
    background-color: #57c8ea;
    border-radius: 0 5px 5px 0;
}

.header-icon {
    text-align: center;
}

.header-icon a {
    color: #57c8ea;
}

.col10>a:hover {
    color: #000000;
    text-decoration: none;
}
        /* SECTION */
        
        .main {
            width: 80%;
            margin: 10px auto;
            padding: 10px;
            background-color: #f2f2f2;
        }
        
        .headline {
            border-bottom: 2px solid #ffa500;
        }
        
        .main h1 {
            background-color: #ff0000;
            color: #ffffff;
            width: 25%;
            border-radius: 0 20px 0 0;
            margin-bottom: 0px;
            padding: 5px;
            border-bottom: 2px solid #ffa500;
        }
        
        .text>ul {
            list-style-type: none;
        }
        
        .content {
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
        }
        
        .info {
            width: 33.333333333333333333333%;
            display: flex;
            padding: 10px;
            border-radius: 15px;
            border: 5px solid #f2f2f2;
            background-color: #ffffff;
            box-sizing: border-box;
            transition-duration: 0.5s;
        }
        
        .info h4 {
            padding: 10px;
        }
        
        .info:hover {
            background-color: rgba(0, 157, 255, 0.5);
        }
        
        .text {
            width: 80%;
        }
        
        .image {
            width: 20%;
        }
        
        .image img {
            width: 100%;
            transition: stranform 1s;
        }
        
        .image img:hover {
            transform: rotate(10deg)
        }
        
        .chon {
            display: flex;
        }
        
        .buydog,
        .detail {
            display: block;
            margin: 5px;
            padding: 5px;
            text-align: center;
            background-color: #ffffff;
            text-decoration: none;
            border-radius: 3px;
        }
        
        .buydog {
            color: #ff0000;
            border: 1px solid #ff0000;
            width: 35%;
        }
        
        .buydog:hover {
            color: #ffffff;
            background-color: #ff0000;
        }
        
        .detail {
            color: #007bff;
            border: 1px solid #007bff;
            width: 30%;
        }
        
        .detail:hover {
            color: #ffffff;
            background-color: #007bff;
        }