@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["cssIndex"] = "~/css/service.css";
}
<link href="~/css/service.css" rel="stylesheet" />
<!--section-->
    <section class="main">
        <section class="service">
            <h1 class="type-service">Service of importing foreign dogs</h1>
            <ul class="list-service">
                <li>
                    <h3><img src="image/icon/uudiem-icon.png" alt="ưu điểm" /> Advantages with imported dogs</h3>
                    <ul class="info-service">
                        <li>Beautiful, large, healthy breeding stock with the right environment.</li>
                         <li>Advanced and reasonable teaching techniques “suitable for professional work and factory maintenance”</li>
                         <li>Had been quarantined many times “quarantine of the camp, quarantine upon exit, quarantine upon entry and through the strict quarantine process of <a href="">WelovePets</a></li>
                     </ul>
                </li>
                <li>
                    <h3><img src="image/icon/khuyetdiem-icon.png" alt="nhược điểm" /> Defect</h3>
                    <ul class="info-service">
                        <li>The cost of imported dogs will be higher than the cost of breeding dogs in Vietnam.</li>
                        <li>More suitable for breeders and has a clear purpose.</li>
                    </ul>
                </li>
                <li>
                    <h3><img src="image/icon/cachthuc-icon.png" alt="cách thức" /> How to enter a dog</h3>
                    <p>You can send your request about the dog you want WelovePets to import, for example:</p>
                    <ul class="info-service">
                        <li>Dog Breed</li>
                         <li>Gender</li>
                         <li>Coat color</li>
                         <li>Age</li>
                         <li>Weight</li>
                         <li>Is there a certificate of purebred?</li>
                         <li>Trained or not. . .</li>
                    </ul>
                </li>
                <li>
                    <h3><img src="image/icon/quocgia-icon.png" alt="quốc gia" /> Country want to import dog</h3>
                    <ul class="info-service">
                        <li>WelovePets will follow your request and advise you which country to import your dog from: Enter Thailand, enter Russia, enter Europe, enter the US. . .</li>
                         <li>Then WelovePets will send photos and videos of the puppy for you to choose "if the dog doesn't have a paper, there will be a photo and video of the dog's parents"</li>
                         <li>You will close and deposit the order with WelovePets, WelovePets will enter it with the time you have selected.</li>
                     </ul>
                </li>
                <li>
                    <h3><img src="image/icon/camket-icon.png" alt="cam kết" /> Commit</h3>
                    <ul class="info-service">
                        <li>Right dog, right request.</li>
                        <li>Lifetime advice on dog care and health.</li>
                        <li>Fast import time.</li>
                        <li>Warranty for diseases already included in vaccination.</li>
                    </ul>
                </li>
            </ul>
        </section>

        <section class="service">
            <h1 class="type-service">Dog buying and selling service</h1>
            <ul class="list-service">
                <li>
                    <h3><img src="image/icon/muaban-icon.png" alt="mua chó" /> Buy a dog</h3>
                    <p>Currently, WelovePets has cooperated & bought puppies with quality households and dog farms across the country.</p>
                    <ul class="info-service">
                        <li>Contact WelovePets to let us know that you need to sell your dog and want to have a long-term cooperation.</li>
                         <li>WelovePets will contact and schedule a survey date.</li>
                         <li>We will send staff to survey directly, if your puppies are of good quality, we will exchange to buy puppies.</li>
                         <li>If satisfactory, we will buy at a high price to cooperate with the next batch.</li>
                         <li>Both parties can agree to sign a lifetime sales contract.</li>
                     </ul>
                </li>
                <li>
                    <h3><img src="image/icon/muaban-icon.png" alt="bán chó" /> Buy Dogs</h3>
                    <ul class="info-service">
                        <li>Puppies sold at WelovePets will be fully vaccinated and guaranteed.</li>
                         <li>Price will be based on the standards of each puppy to determine.</li>
                         <li>WelovePets will provide you with the most authentic photos and videos!</li>
                         <li>We accept orders for all dog lines available on the Vietnamese market today.</li>
                         <li>You can trade directly at WelovePets location</li>
                         <li>If the dog is bred at the WelovePets hatchery you can come and see it in person.</li>
                     </ul>
                 </li>
            </ul>
        </section>

        <section class="service">
            <h1 class="type-service">Looking after pets</h1>
            <ul class="list-service">
                <li>
                    <h3><img src="image/icon/tronggiu-icon.png" alt="trông giữ" /> Looking after the dog</h3>
                    <ul class="info-service">
                        <li>From 1kg to 10kg: 90,000/day</li>
                        <li>From 11kg - 15kg: 120,000/day</li>
                        <li>From 16kg - 25kg: 180,000/day</li>
                        <li>From 26kg to 35kg: 230,000/day</li>
                        <li>From 36kg to 50kg: 300,000/day</li>
                        <p>Fees include meals (2-3 meals a day) depending on your pet.</p>
                    </ul>
                </li>
                <li>
                    <h3><img src="image/icon/luuy-icon.png" alt="lưu ý" /> Note</h3>
                    <ul class="info-service">
                        <li>The above price is for basic care.</li>
                         <li>Shop does not accept sick dogs.</li>
                         <li>Owners can send more pet food or familiar toys.</li>
                         <li>If a pet is allergic to certain foods, the owner should notify the WelovePets caretaker</li>
                     </ul>
                 </li>
                <li>
                    <h3><img src="image/icon/quyenloi-icon.png" alt="quyền lợi" /> Benefits of customers when sending pets</h3>
                    <ul class="info-service">
                        <li>Free pet pick-up and drop-off at home with specialized cages in Hanoi and Ho Chi Minh City.</li>
                         <li>Provides adequate nutrition for pets.</li>
                         <li>Every day, the children will have fun in the late afternoon to release energy, promote better metabolism to help them develop more comprehensively.</li>
                         <li>The children will be bathed and cleaned before returning to their owners.</li>
                     </ul>
                </li>
                <li>
                    <h3>
                        <a href="lienhe"><img src="image/icon/phone-icon.png" alt="liên hệ" /> Please contact us for more details.</a>
                    </h3>
                </li>
            </ul>
        </section>
    </section>
    <div class="back-to-top" id="backtop">
        <a href="">
            <img src="image/icon/icon-backtotop.png" alt="back to top" />
        </a>
    </div>