@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //ViewData["cssIndex"] = "~/css/dogbreed.css";
}
<link href="~/css/dogbreed.css" rel="stylesheet" />
<section class="main">
        <div class="headline">
            <h1>List Dogs</h1>
        </div>
        <div class="content">
            <div class="info">
                <div class="text">
                    <h4>Akita Inu</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Other names: Akita, Japanese Akita </li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Japan</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Category: Guard dog</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 32-59kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Lifespan: 10-15 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="">Buy Dogs</a>
                        <a class="detail" href="">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/akita.png" alt="" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Alabai</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Other Name: Central Asian Shepherd Dog</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Central Asia</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Category: Sheepdogs</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 40-79kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Lifespan: 12-15 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/alabai.png" alt="alabai" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Alaska</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Other Name: Alaska Malamute</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: United States</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Category: Sled dogs</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 32-43kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Lifespan: 10-12 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy pets</a>
                        <a class="detail" href="#">Details</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/alaska.png" alt="alaska" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Alaska Giant</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Other name: Giant Alaska</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: United States</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Category: Sled dogs</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight : 60-90kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 13-15 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/alaska-giant.png" alt="alaska-giant" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Basset Hound</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Short-legged Hound</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: England</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Hound</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 20-29kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Lifespan: 10-12 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/basset-hound.png" alt="basset-hound" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Vitespitz</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Vitespitz</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Hound, look after the house</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Fluffy, mane</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 16-26kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 8-12 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/bac-ha.png" alt="bac-ha" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Pekingese</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Crane lion, Phuc dog</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: China</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Dogs</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 3,2-6,4kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Lifespan: 12-15 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/bac-kinh_0.png" alt="bac-kinh" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Beagle</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Hound rabbit</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Greek</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Hound rabbit</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 9-11kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Lifespan: 12-15 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/beagle.png" alt="beagle" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Becgie Belgium</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Malinois</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Belgium</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Service dog</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 25-34kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 12-14 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy Dogs</a>
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/becgie-bi.png" alt="becgie-bi" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Becgie Germany</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Sheepdog Germany</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Germany</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Service dog</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 22-40kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Lifespan: 12-15 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy Dogs</a>
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/becgie-duc.png" alt="becgie-duc" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Becgie Netherlands</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Sheepdog Netherlands</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Netherlands</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Service dog</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 30-40kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 12-14 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy Dogs</a>
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/becgie-ha-lan.png" alt="becgie-ha-lan" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Becgie France</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Beauceron</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: France</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Cattle Dogs</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 30-45kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Lifespan: 10-12 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/becgie-phap.png" alt="becgie-phap" />
                </div>
            </div>

            <div class="info">
                <div class="text">
                    <h4>Bichon Frise</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Spain</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Dogs</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Curly hair, black eyes</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 3-5kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Lifespan: 12-15 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/bichon-frise.png" alt="bichon-frise" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Border Collie</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Collie border</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: England</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Category: Sheepdogs</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 12-20kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 10-17 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy Dogs</a>
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/border-collie.png" alt="border-collie" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Boston</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Boston Terrier</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: United States, England</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Working dog</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 4,5-11kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 13-15 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/boston-terrier_0.png" alt="boston-terrier" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Bull France</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Cow dog France, French Bulldog</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: France, England</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Dogs</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 10-14kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 10-14 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy Dogs</a>
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/bull-phap.png" alt="bull-phap" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Bulldog</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Cow dog England</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: England</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Housekeeping dog</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 18-25kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 8-10 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy Dogs</a>
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/bulldog.png" alt="bulldog" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Bully American</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Bully, Bully US</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: United States</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Dogs</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 30-50kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 8-12 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy Dogs</a>
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/bully-american.png" alt="bully-american" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Caucasian</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Sheepdog Kavkaz</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Russia</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Category: Sheepdogs</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 45-70kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 10-13 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/caucasus.png" alt="caucasus" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Chihuahua</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Mexico</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Dogs</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Characteristics: Small, wide forehead </li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 1,5-3kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 12-20 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy Dogs</a>
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/chihuahua.png" alt="chihuahua" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Dog Egypt</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Dog Pharaoh</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Egypt</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Hound</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 18-27kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 11-14 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/cho-ai-cap.png" alt="cho-ai-cap" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Dog Butterfly</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Papillon</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Italy</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Dogs</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 3,2-4,5kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 13-15 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/papillon.png" alt="papillon" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Dog Spot</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Dalmatian</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Croatia</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Category: Sled dogs, Hound</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 16-32kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 10-13 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy Dogs</a>
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/cho-dom.png" alt="cho-dom" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Dog Half-Wolf</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Wolf-Hybrid</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: North America</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Hound</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 35-40kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 12-14 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/wolf-hybrid.png" alt="wolf-hybrid" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Dog Japan</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Chin</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Japan, China</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Dogs</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 1,4-6,8kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 12-14 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/cho-nhat.png" alt="cho-nhat" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Dog Beef Sauce</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Bull Terrier</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: England</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Category: Guard dog, Hound</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 22-38kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 12-14 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/boston-terrier_0.png" alt="boston-terrier" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Dog Three Colors</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Dog mountain Bernese</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Switzerland</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Category: Guard dog, sled</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 35-55kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 6-8 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/tam-sac.png" alt="tam-sac" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Dog Boxer</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Boxer</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Germany</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Dog fight</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 25-32kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Lifespan: 10-12 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/boxer.png" alt="boxer" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Dog Thai vortex</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Dog hair Thai vortex </li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Thailand</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Hound</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 16-34kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 12-13 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/xoay-thai-lan.png" alt="xoay-thai-lan" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Chow Chow</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Dog sugar</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: China</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Hound, Dog sled</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 20-32kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 9-15 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy Dogs</a>
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/chow-chow.png" alt="chow-chow" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Great Dane</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Greek</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Dog guard</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Tall, long back</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 45-90kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 12-13 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy Dogs</a>
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/great-dane.png" alt="great-dane" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>H'Mong Coc</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: H'Mong Coc</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Việt Nam</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Hound, look after the house</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 15-25kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Lifespan: 12-15 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy Dogs</a>
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/mong-coc.png" alt="mong-coc" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Husky</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Husky Sibir</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Russia</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Category: Sled dogs</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 16-27kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Lifespan: 12-15 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy Dogs</a>
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/husky.png" alt="husky" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Labrador</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Lab</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Canada</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Dog Retrievers</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 25-32kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 10-14 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy Dogs</a>
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/labrador.png" alt="labrador" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Sausage</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Dachshund</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Germany</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Hound</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 7,3-15kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 12-16 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy Dogs</a>
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/lap-xuong.png" alt="lap-xuong" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Tibetan Clams</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Tibetan Mastiff</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Tibet</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Category: Guard dog</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 34-73kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Lifespan: 12-15 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy Dogs</a>
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/ngao-tay-tang.png" alt="ngao-tay-tang" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Pho Deer</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Fox, Phoc</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Germany</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Hound mouse</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 3,5-5kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Lifespan: 10-15 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy Dogs</a>
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/phoc-huou.png" alt="phoc-huou" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Phoc Soc</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Pomeranian, Pom</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Ba Lan, Germany</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Dogs</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 1,9-3,5kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 12-16 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy Dogs</a>
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/phoc-soc.png" alt="phoc-soc" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>PhuQuoc</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: VietNam</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Hound, look after the house</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Characteristics: Spinning back, Spot tongue</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 20-25kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 12-14 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy Dogs</a>
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/phu-quoc.png" alt="phu-quoc" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Pitbull</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: USA</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Dog fight</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Muscular body</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 18-32kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 8-15 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy Dogs</a>
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/pitbull.png" alt="pitbull" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Poodle</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: France, Germany</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Hound duck</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Curly hair</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 2-4kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Lifespan: 12-15 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy Dogs</a>
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/poodle.png" alt="poodle" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Rottweiler</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Dog Rott</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Germany</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Service dog</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 35-60kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 8-10 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy Dogs</a>
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/rottweiler.png" alt="rottweiler" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Pug</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Dog face sag</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: China</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Dogs</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 6-8kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Lifespan: 12-15 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy Dogs</a>
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/pug.png" alt="pug" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Samoyed</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Siberia</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Category: Sled dogs</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Characteristics: Big, white feathers</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 16-30kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> longevity: 12-13 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy Dogs</a>
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/samoyed.png" alt="samoyed" />
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h4>Shiba Inu</h4>
                    <ul>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Another name: Shiba</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Origin: Japan</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Classify: Hound</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Weight: 6,8-11kg</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Lifespan: 12-15 years</li>
                        <li><img src="image/icon/check-yes-icon.png" alt="check" /> Selling price: 500$ </li>
                    </ul>
                    <div class="chon">
                        <a class="buydog" href="#">Buy Dogs</a>
                        <a class="detail" href="#">Detail</a>
                    </div>
                </div>
                <div class="image">
                    <img src="image/phanloaicho/shiba-inu.png" alt="shiba-inu" />
                </div>
            </div>
    </section>
    <div class="back-to-top" id="backtop">
        <a href="">
            <img src="image/icon/icon-backtotop.png" alt="back to top" />
        </a>
    </div>